<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href = "{{ url_for('static', filename= 'style.css') }}">
</head>
<body>
    <div class="nav">
        <a href="{{url_for('home') }}" class="button">Home</a>
        <a href="{{url_for('about') }}" class="button">About</a>
        <a href="{{url_for('privacy') }}" class="button">Privacy</a>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>